<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <% if(weekday==="friday" || weekday==="saturday" ){ %>
            <h1 style="color:crimson"> Today is <%=weekday %>
            </h1>
            <% }else{ %>
                <h1 style="color: rgb(45, 65, 177)"> Today is <%=weekday %>
                </h1>
                <% } %>
    </div>
    <div class="box">
            <% for(var i=0;i<activities.length;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%= activities[i] %>
                    </p>
                </div>
                <% } %>
                        <!-- post form -->
                        <form action="/" method="post" class="item">
                            <input type="text" name="txtActivity" placeholder="New Activity" autocomplete="off">
                            <button type="submit">+</button>
                        </form>
    </div>




</body>

</html>